<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Resolver Cuestionario</title>
	<link href="css/styles.css" rel="stylesheet" type="text/css">
	
</head>

<body>
<div class="container-fluid">
		<div class="row">
			<div class="col-3">
			</div>
			<div class="col-6 cuestionarioAlumno">
				<h1>RESOLVE EL CUESTIONARIO CHADSON</h1>
				<form th:object="${cuesAlumno}" th:action="@{/guardarCuestionarioAlumno}" method="post">
					
					<div class="form-group mb-3">
						
						<label class="custom-label">Alumno</label>
						<select class="form-control" th:field="*{unAlumno.idAlumno}">
						<option th:each="unAlumno:${alumnoListado}" th:value="${unAlumno.idAlumno}" th:text="${unAlumno.apellidoAlumno}"></option>
						</select>
						<br><br>
						
						<label class="custom-label">Cuestionario</label>
						<select class="form-control" th:field="*{unCuestionario.idCuestionario}">
						<option th:each="unCuestionario:${cuestionarioListado}" th:value="${unCuestionario.idCuestionario}" th:text="${unCuestionario.idCuestionario}"></option>
						</select>
						<br><br>
						
						<label class="custom-label">Fecha Completado</label>
						<input class="form-control" type="date" th:field="*{fechaCompletado}"><br>
						<div class="alert alert-danger" th:if="${#fields.hasErrors('fechaCompletado')}" th:errors="*{fechaCompletado}"></div>
						<br>
						
						<label class="custom-label">Puntaje Logrado</label>
						<input class="form-control" type="number" th:field="*{puntajeLogrado}"><br>
						<div class="alert alert-danger" th:if="${#fields.hasErrors('puntajeLogrado')}" th:errors="*{puntajeLogrado}"></div>
						<br>
						
						<input class="btn btn-registrar" type="submit" value="SUBE LOS DATOS PERRO"><br><br>
						<input type="reset" value="RESETEAR">
						
	</div>
	</form>
	</div>
	</div>					
</div>

</body>
</html>