<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Menu</title>
  <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<section>
  <span>Virtual-EDM</span>
</section>
<header>
  <h1>Virtual-EDM</h1>
  <nav>
    <a href=#>Cargar Docente</a>
    <a href=#>Cargar Estudiante</a>
    <a href=#l>Cargar Pregunta</a>
  </nav>
</header>
<article>
  <h1>Sobre nosotros</h1>
  <p>Somos un equipo comprometido con la educación y el aprendizaje. Nuestra misión es brindar una plataforma interactiva y accesible que promueva el conocimiento y la excelencia académica. Nos esforzamos por proporcionar herramientas innovadoras que faciliten el proceso de enseñanza y aprendizaje, tanto para docentes como para estudiantes.</p>
  <p>En nuestra plataforma, encontrarás recursos educativos de calidad, diseñados para abarcar diversas áreas de estudio. Nuestro objetivo principal es fomentar el crecimiento intelectual y el desarrollo de habilidades en un entorno virtual dinámico y colaborativo.</p>
  <p>Valoramos la participación activa y el compromiso con la educación. Estamos dedicados a ayudar a los docentes a crear experiencias de aprendizaje enriquecedoras y a los estudiantes a alcanzar su máximo potencial. Únete a nosotros en este viaje educativo y descubre todo lo que nuestra plataforma tiene para ofrecer.</p>
  <p></p>		
	<img class="imagen-educativa" src="/images/calidad-educativa.jpg" alt="Imagen educativa">
</article>
</html>